html {
    box-sizing: border-box;
    font-size: 10px;
    background-color: $color_white;
    overflow-x: hidden;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
ul,
ol,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {

    font-family: "Oswald", "Arial", "Tahoma", "Verdana", sans-serif;
    font-weight: 400;
    line-height: 18px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.img {
    width: auto;
}

.page-layout {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

@media (min-width: $tablet-width) {
    .page-layout {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 30px;
    }
}

@media (min-width: $desktop-width) {
    .page-layout {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 40px;
    }
}

h1 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin: auto;
    position: relative;
    width: max-content;
    color: $color_lightorange;
    padding: 2rem;

    &::before {
        content: '___';
        position: absolute;
        display: block;
        bottom: 1rem;
        left: 2.1rem;
        font-size: 3rem;
        width: 2rem;
        height: 2rem;

        @media (max-width: $tablet-width) {
            bottom: 2rem;
            left: 8rem;
        }
    }

    @media (max-width: $tablet-width) {
        max-width: 90%;
        line-height: 3rem;
    }
}