// COLORS
$color_dark: #121724;
$color_blue: #286C99;
$color_white: #FDFFF2;
$color_orange: #FF661A;
$color_lightorange: #F89446;

// DEVICES WIDTH
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

//IMG
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;