$color_dark: #121724;
$color_blue: #286C99;
$color_white: #f8f8f8;
$color_orange: #FF661A;
$color_orange_2: #ee7722;
$color_lightorange: #F89446;
$color_lightorange_2: #ffbb44;
$color_lightblue_1: #88ddee;
$color_lightblue_2:#77ccee;
$color_grey: #ddeedd;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;